body{
  background-color: rgb(220, 238, 217);
}
.Welcome {    
    color: white;
    text-align: center;
    margin:35px 700px;
    background: green;
  } 
#Moab{
height: auto;
width: 300px;
  }
.aboutMe{
  text-align: center;
}
#campingVid{
  padding: 20px;
  height:500px;
}
#hikingVid{
  height: 500px;
  width: auto;
  padding: 20px;
}
#sandVid{
  height:500px;
  width: auto;
  padding: 20px;
}
div#vidsTable{
   margin-left: auto;
   margin-right: auto;
}
#tetons{
  height: 500px;
  width: auto;
}